{{ define "main" }}
{{ partial "content/image_header.html" . }}
<br>
<div class="row flex-xl-nowrap">
	{{ if ne .Params.toc false -}}
	<nav
		class="docs-toc{{ if ne .Site.Params.options.navbarSticky true }} docs-toc-top{{ end }} d-none d-xl-block col-lg-3"
		aria-label="Secondary navigation">
		{{ partial "sidebar/docs-toc.html" . }}
	</nav>
	{{ end -}}
	{{ if .Params.toc -}}
	<main class="docs-content w-100 col-xl-11">
		{{ else -}}
		<main class="docs-content w-100 col-xl-11 mx-xl-auto">
			{{ end -}}
			{{ if .Site.Params.options.breadCrumb -}}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					{{ partial "main/breadcrumb" . -}}
					<li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
				</ol>
			</nav>
			{{ end }}
			<h1>{{ .Title }}</h1>
			<p class="lead">{{ .Params.lead | safeHTML }}</p>
			{{ if .Params.author }}
			<p class="text-muted">Written by: <span class="text-editor">{{ delimit .Params.author ", " }}</span></p>
			{{ end }}
			{{ if ne .Params.toc false -}}
			<nav class="d-xl-none" aria-label="Quaternary navigation">
				{{ partial "sidebar/docs-toc.html" . }}
			</nav>
			{{ end -}}
			{{ .Content }}
			<div class="page-footer-meta d-flex flex-column flex-md-row justify-content-between">
				{{ if .Site.Params.lastMod -}}
				{{ partial "main/last-modified.html" . }}
				{{ end -}}
				{{ if .Site.Params.editPage -}}
				{{ partial "main/edit-page.html" . }}
				{{ end -}}
			</div>
			{{ partial "main/docs-navigation.html" . }}
		</main>
</div>
{{ end }}